src/main/webapp/xml/Users.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Users">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="user" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
            	<xs:element name="nickname" maxOccurs="1">
            		<xs:complexType>
            			<xs:simpleContent>
            				<xs:extension base="xs:string">
            					<xs:attribute name="losses"
            						type="xs:string" use="required" />
            					<xs:attribute name="time"
            						type="xs:string" use="required" />
            					<xs:attribute name="wins"
            						type="xs:string" use="required" />
            				</xs:extension>
            			</xs:simpleContent>
            		</xs:complexType>
            	</xs:element>
            	<xs:element name="password" maxOccurs="1">
            		<xs:simpleType>
            			<xs:restriction base="xs:string">
            				<xs:minLength value="3"></xs:minLength>
            				<xs:maxLength value="15"></xs:maxLength>
            			</xs:restriction>
            		</xs:simpleType>
            	</xs:element>
            	<xs:element name="nationality" type="xs:string"
            		maxOccurs="1" />
            	<xs:element name="age" maxOccurs="1">
            		<xs:simpleType>
            			<xs:restriction base="xs:string">
            				<xs:pattern value="\d+"></xs:pattern>
            			</xs:restriction>
            		</xs:simpleType>
            	</xs:element>
            	<xs:element name="picture" type="xs:string"
            		maxOccurs="1" />
            	<xs:element name="color" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>